*.pyc
otherstuff
proctags.py
*.swp
tags.vim
tags
matlab
build
MANIFEST
jo
*.html
stage/
*.jemdoc
*.bak
*.jemdoc
*.bak
*.jemdoc
*.jemdoc
publications.jemdoc.bak
publications.jemdoc
index.jemdoc.bak
index.jemdoc
group.jemdoc
